<div class="restaurant-new">
  <div class="restaurant-new-container">
    <h1>Add a Restaurant</h1>
    <h2>And let the reviews begin...</h2>

    <input type="text" name="restaurant[name]" placeholder="Name">
    <input type="text" name="restaurant[street_address]" placeholder="Street Address">
    <input type="text" name="restaurant[city_zipcode]" placeholder="City Zipcode">

    <button class="add-restaurant">Add Restaurant</button>
  </div>
</div>
