<%= restaurant.escape("name") %>

<div class="map-container">
  <div id="map"></div>
  <%= restaurant.escape("address") %>
</div>

<a href="#/restaurants/<%= restaurant.id %>/reviews/new">Write a Review</a>

<ul class="reviews"></ul>
<div id="star-rate"></div>
