<div class="restaurant-show-top">
  <%= restaurant.escape("name") %>
  <br>
  <%= restaurant.escape("address") %>
  <a href="#/restaurants/<%= restaurant.id %>/reviews/new">Write a Review</a>
</div>

<div class="restaurant-main-content">
  <ul class="reviews"></ul>
</div>
