<div class="new_user_page">
  <div class="sign_up_wrapper group">

    <a href="/auth/facebook">Sign Up with Facebook</a>

    <form>
        <ul>
          <div class="name group">
            <li class="first_name">
              <input
                type="text"
                name="user[first_name]"
                placeholder="First Name">
            </li>
            <li class="last_name">
              <input type="text" name="user[last_name]" placeholder="Last Name">
            </li>
          </div>

          <li>
            <input type="text" name="user[email]" placeholder="Email">
          </li>
          <li>
            <input type="password" name="user[password]" placeholder="Password">
          </li>
        </ul>

        <p class="legal">
          By creating an account, you agree to Help's Terms of Service, that is,
          you agree that Help has helped.
        </p>

        <button class="sign-up">Sign Up</button>

        <p class="has-account">
          Already on Help? <a href="#/session/new">Log In</a>
        </p>
    </form>
  </div>
</div>
