<div class="new_user_page group">
  <div class="sign_up_wrapper group">

    <div class="sign-up-form-top">
      <h1> Sign Up for Help</h1>
      <p class="rushed-lunch">Connect with a rushed lunch</p>

      <a class="omniauth" href="/auth/facebook">Sign Up with Facebook</a>

      <p class="disclaimer">
        Don't worry, we always post without your permission.
      </p>
    </div>

    <form>
        <ul>
          <div class="name group">
            <li class="first_name">
              <input
                type="text"
                name="user[first_name]"
                placeholder="First Name">
            </li>
            <li class="last_name">
              <input type="text" name="user[last_name]" placeholder="Last Name">
            </li>
          </div>

          <li>
            <input type="text" name="user[email]" placeholder="Email">
          </li>
          <li>
            <input type="password" name="user[password]" placeholder="Password">
          </li>
        </ul>

        <p class="legal">
          By creating an account, you agree to Help's Terms of Service, that is,
          you agree that Help has helped.
        </p>

        <button class="sign-up">Sign Up</button>

        <p class="has-account">
          Already on Help? <a href="#/session/new">Log In</a>
        </p>
    </form>
  </div>

  <div class="app-academy-logo-sign-up">
    <img src="/assets/app-academy-logo.png">
  </div>
</div>
