<h2 class="user-show-name">
  <%= user.escape("first_name") %> <%= user.escape("last_name") %>
</h2>

<img src="<%= user.escape('avatar_url') %>" class="profile-avatar">

<div class="preview"></div>

<form class="upload-avatar">
  <input type="file" name="user[avatar]" id="input-image">
  <button>Submit</button>
</form>
