/* Page */
/* line 8, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.top-shelf {
  position: relative;
  background-color: #f5f5f1;
  border-bottom: 1px solid #ccccc8;
  height: 410px;
}

/* line 16, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.restaurant {
  width: 960px;
  margin: 0 auto;
}

/* line 21, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.restaurant > .restaurant-name {
  width: 520px;
  padding-top: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  display: inline-block;
  float: left;
  line-height: 1.1666666em;
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

/* line 35, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.restaurant > .new-review {
  color: #fff;
  background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
  border: 1px solid #a50508;
  background: #ea050b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  line-height: 20px;
  text-shadow: 0 -1px 0 #760400;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  vertical-align: middle;
  display: inline-block;
  padding-left: 22px;
  padding-right: 15px;
  float: right;
}

/* line 56, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-container {
  z-index: 1;
  position: absolute;
  top: 133px;
  background-color: #fff;
  border: 1px solid #ccccc8;
  width: 300px;
  height: 330px;
}

/* line 67, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-container > #map {
  margin-top: 7px;
  margin-left: 7px;
  border: 1px solid #ccccc8;
}

/* line 73, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-container > .restaurant-map-info {
  margin-left: 10px;
}

/* line 77, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-container > .restaurant-map-info > .address {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

/* line 84, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
#directions-link {
  color: #3b65a7;
  font-size: 14px;
}

/* line 89, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.reviews-view {
  padding-top: 75px;
  background-color: #fff;
  border-bottom: 1px solid #ccccc8;
}

/* line 95, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.reviews {
  width: 960px;
  margin: 0 auto;
}

/* line 100, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.reviews > h1 {
  font-weight: bold;
  font-size: 21px;
  color: #c41200;
  line-height: 1.28571em;
  margin-bottom: 6px;
}

/* Directions */
/* line 110, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

/* line 121, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.modal-map {
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 35%;
  margin-left: -220px;
  border-radius: 5px;
}

/* line 131, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-directions-container > .modal-container > .modal-map > #map-directions {
  float: left;
}

/* line 135, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-directions-container > .modal-container > .modal-map > #map-panel {
  float: right;
  width: 340px;
}

/* line 141, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.hide {
  display: none;
}

/* line 145, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/restaurants.scss */
.map-directions-container > .modal-container > .modal-map > .close-button {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}
/* Log In Form */
/* line 8, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.sign_in_page {
  border-top: none;
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 15px 30px 30px;
  border: 1px solid #ccccc8;
}

/* line 17, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper {
  float: left;
  display: block;
  width: 49%;
  border-right: 1px solid #ddd;
}

/* line 24, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper > form {
  width: 350px;
  padding-left: 48px;
}

/* line 29, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_label {
  font-weight: bold;
  display: block;
  float: left;
  margin-top: 15px;
  width: 140px;
  color: #C41200;
  text-align: left;
  margin-top: 10px;
}

/* line 40, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper > form > p > input {
  text-align: left;
  margin-top: 10px;
  width: 200px;
}

/* line 46, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.sign_in_button {
  text-shadow: none;
  display: inline-block;
  cursor: pointer;
  float: right;
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5em;
  color: #333;
  background: linear-gradient(#fff, #eee);
}

/* line 62, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper > form > h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #c41200;
  margin: 10px 0 6px;
}

/* line 69, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper > form > .log_in_instructions {
  margin: 5px 0;
}

/* line 73, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper > form > .button {
  margin: 10px 0 20px;
  text-align: right;
}

/* line 78, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.log_in_wrapper > form > .legal {
  color: #333;
  margin-top: 60px;
}

/* Link To Sign Up */
/* line 85, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.no_account_wrapper {
  float: right;
  display: block;
  width: 50%;
  text-align: center;
  color: #333;
}

/* line 93, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.no_account_width {
  float: right;
  width: 390px;
  padding-right: 48px;
}

/* line 99, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.no_account_width > h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #c41200;
  margin: 10px 0 6px;
}

/* line 106, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.no_account_width > p {
  margin-bottom: 15px;
}

/* line 110, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.no_account_width > .help-description {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 115, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/sessions.scss */
.no_account_width > a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 -1px 0 #760400;
  line-height: 1.28571em;
  padding: 7px 16px;
  border: 1px solid #a50508;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #ea050b;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
}
/* line 5, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.new_user_page {
  border-top: none;
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 720px;
  padding: 30px;
  border: 1px solid #ccccc8;
}

/* line 15, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.sign_up_wrapper {
  padding: 0 15px;
  width: 300px;
}

/* line 20, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.sign_up_wrapper input[type=text],
.sign_up_wrapper input[type=password] {
  display: block;
  width: 100%;
  margin: 0 0 9px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 2px;
  background: rgba(250, 250, 249, 0.9);
  border: 1px solid #bbb;
  font-size: 14px;
  line-height: 1.28571em;
}

/* line 35, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.name > li {
  width: 49%;
  font-size: 0;
  display: inline-block;
  margin-bottom: 0;
}

/* line 42, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.name > .first_name {
  float: left;
}

/* line 46, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.name > .last_name {
  float: right;
}

/* line 50, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.legal {
  text-align: left;
  margin-bottom: 12px;
  color: #555;
  font-size: 12px;
  line-height: 1.5em;
}

/* line 58, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.sign_up_wrapper button {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 -1px 0 #760400;
  width: 100%;
  background: #ea050b;
  border: 1px solid #a50508;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

/* line 75, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.has-account {
  color: #999;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5em;
  margin-top: 12px;
  text-align: right;
}

/* line 84, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/users.scss */
.has-account > a {
  color: #3b65a7;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* RESET */
/* line 20, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
html, body, header,
form, img,
div, ul, li, h1, h2,
h3, a, p {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

/* line 38, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
body {
  background-color: #f5f5f1;
  font: 12px/1.2 'Helvetica Neue';
}

/* line 43, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
}

/* CLEARFIX */
/* line 49, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* line 55, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
html, body, #map-canvas,
#map-directions {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 62, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
#map {
  height: 135px;
  width: 286px;
}

/* line 67, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
#map-directions {
  height: 600px;
  width: 600px;
}

/* line 72, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
#map-panel {
  background-color: #fff;
  border-radius: 5px;
}

/* Header */
/* line 79, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
header {
  padding: 12px 0 6px;
  position: relative;
  font-size: 14px;
  text-shadow: 0 -1px 0 #760400;
  line-height: 1.28571em;
  z-index: 5;
  box-shadow: 0 0 5px rgba(78, 2, 2, 0.76);
  color: #fff;
  background: url(/assets/header_stars-f7e6d1ffb505cf45032cab7409ab401207288722465a0808c9f08e73ef11ad73.png) no-repeat center, linear-gradient(#c41200, #af0606);
  background-position: left top;
  border-bottom: 1px solid #853330;
}

/* line 93, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.main-header {
  width: 960px;
  margin: 0 auto;
}

/* line 98, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.user_session {
  float: right;
  padding-left: 9px;
  padding-right: 9px;
}

/* line 104, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.user_session_list > li {
  display: list-item;
  text-align: center;
}

/* line 109, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.sign_up_button {
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 6px;
  padding: 5px 16px;
  line-height: 18px;
  vertical-align: middle;
  box-shadow: none;
  border: 1px solid #7b0000;
  background: #a20000;
  background: linear-gradient(#be0100 4%, #a20000 5%, #7c0000 100%);
}

/* line 126, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.sign_up_button:hover {
  background: #8f0000;
  background-image: linear-gradient(#a00100 4%, #8f0000 5%, #600 100%);
}

/* line 131, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.log_in_button {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-shadow: 0 -1px 0 #760400;
  border-radius: 3px;
  padding: 0 8px;
}

/* line 141, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.log_in_button:hover {
  background-color: #853330;
  box-shadow: inset 0 0 5px rgba(78, 2, 2, 0.76);
}

/* HOMEPAGE */
/* line 148, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.homepage-container {
  width: 960px;
  background-color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #ccccc8;
  border-left: 1px solid #ccccc8;
  border-right: 1px solid #ccccc8;
}

/* line 157, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.homepage-container > h2 {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  padding-top: 20px;
  padding-bottom: 10px;
  display: block;
  width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e1;
}

/* line 171, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.recent-reviews-list {
  width: 630px;
  margin-left: 30px;
}

/* line 176, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.recent-reviews-list > h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 1.28571em;
  color: #c41200;
  padding-top: 15px;
  padding-bottom: 5px;
}

/* line 186, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.recent-reviews > li {
  border-top: 1px solid #e5e5e1;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 192, /Users/aaronwong/Desktop/yelp-clone/app/assets/stylesheets/application.scss */
.recent-reviews > li > .review-body {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
}
