

<p class="reviewer">
  <%= user.escape('first_name') %> <%= user.escape('last_name') %>
</p>


<section class="review-body">
  <div id="star-rating"></div>
  <%= review.escape("body") %>
</section>
