<h1>Write a Review</h1>
<%= restaurant.escape("name") %>
<br>
<%= restaurant.escape("address") %>
<h3>Your review</h3>
<div id="star-rate"></div>
<textarea name="review[body]"></textarea>

<button class="post-review">Post Review</button>
