<li class="helpfulness-button">
  <button class="Useful">
    Useful <span class="helpfulness-count"><%= review.get('useful_count') %></span>
  </button>
</li>
<li class="helpfulness-button">
  <button class="Funny">
    Funny <span class="helpfulness-count"><%= review.get('funny_count') %></span>
  </button>
</li>
<li class="helpfulness-button">
  <button class="Cool">
    Cool <span class="helpfulness-count"><%= review.get('cool_count') %></span>
  </button>
</li>
