/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESET */

html, body, header,
form, img,
div, ul, li, h1, h2,
h3, a, p {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  text-decoration: none;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  background-color: #f5f5f1;
  font: 12px/1.2 'Helvetica Neue';
}

ul {
  list-style: none;
}

/* CLEARFIX */

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body, #map-canvas,
#map-directions {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 135px;
  width: 286px;
}

#search-map {
  height: 300px;
  width: 300px;
}

#map-directions {
  height: 600px;
  width: 600px;
}

#map-panel {
  background-color: #fff;
  border-radius: 5px;
}

/* Header */

header {
  padding: 12px 0 6px;
  position: relative;
  font-size: 14px;
  text-shadow: 0 -1px 0 #760400;
  line-height: 1.28571em;
  z-index: 5;
  box-shadow: 0 0 5px rgba(78,2,2,0.76);
  color: #fff;
  background: image-url('header_stars.png') no-repeat center, linear-gradient(#c41200, #af0606);
  background-position: left top;
  border-bottom: 1px solid #853330;
}

.main-header {
  width: 960px;
  margin: 0 auto;
}

#header-container {
  float: left;
}

#header-container > a > .help-logo {
  position: absolute;
  top: 1px;

  display: inline-block;
  width: 120px;
  height: 80px;
}

#header-container > .header-search > .main-search > input {
  position: relative;
  margin-left: 87px;

  border-radius: 3px;
  padding-left: 37px;
  padding-right: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #a70000;
  background: rgba(250,249,246,0.95);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  overflow: hidden;
  font-size: 14px;

  width: 660px;
  height: 30px;

  bottom: 3px;
}

#header-container > .header-search > .main-search > .pseudo-input {
  position: relative;

  left: 125px;
  bottom: 1px;
  z-index: 2;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  cursor: default;
}

#header-container > .header-search > .submit-search {
  position: relative;

  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 6px;
  margin-left: 5px;
  width: 40px;
  height: 30px;
  line-height: 18px;
  vertical-align: middle;
  box-shadow: none;
  border: 1px solid #7b0000;
  background: #a20000;
  background: linear-gradient(#be0100 4%, #a20000 5%, #7c0000 100%);
}

#header-container > .header-search > .submit-search > img {
  position: absolute;
  bottom: 5px;
  left: 9px;

  width: 18px;
  height: 18px;
}

.user_session {
  float: right;
  padding-left: 9px;
  padding-right: 9px;
  margin-right: 15px;
}

.user_session_list > li {
  display: list-item;
  text-align: center;
}

.sign_up_button, .log-out-button {
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 6px;
  padding: 5px 16px;
  line-height: 18px;
  vertical-align: middle;
  box-shadow: none;
  border: 1px solid #7b0000;
  background: #a20000;
  background: linear-gradient(#be0100 4%, #a20000 5%, #7c0000 100%);
}

.sign_up_button:hover, #header-container > .search > .submit-search:hover {
  background: #8f0000;
  background-image: linear-gradient(#a00100 4%, #8f0000 5%, #600 100%);
}

.log_in_button {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-shadow: 0 -1px 0 #760400;
  border-radius: 3px;
  padding: 0 8px;
}

.log_in_button:hover, .header-nav > .nav-list > li:hover {
  background-color: #853330;
  box-shadow: inset 0 0 5px rgba(78,2,2,0.76);
}

.header-nav > .nav-list {
  margin-left: 112px;
}

.header-nav > .nav-list > li {
  top: 30px;
  display: inline;
  list-style-type: none;
  padding-right: 20px;

  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 21px;
  text-shadow: 0 -1px 0 #760400;
  border-radius: 3px;
  padding: 0 8px;
}

/* HOMEPAGE */

.homepage-container {
  width: 960px;
  background-color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #ccccc8;
  border-left: 1px solid #ccccc8;
  border-right: 1px solid #ccccc8;
}

.homepage-container > h2 {
  font-weight: bold;
  font-size: 16px;
  color: #333;

  padding-top: 20px;
  padding-bottom: 10px;
  display: block;
  width: 900px;
  margin: 0 auto;

  border-bottom: 1px solid #e5e5e1;
}

.recent-reviews-list {
  float: left;
  width: 630px;
  margin-left: 30px;
}

.recent-reviews-list > h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 1.28571em;
  color: #c41200;

  padding-top: 15px;
  padding-bottom: 5px;
}

.recent-reviews > li {
  border-top: 1px solid #e5e5e1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.recent-reviews > li > .review-body {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
}

.da-space {
  position: relative;
  float: right;
  width: 250px;
  margin-right: 30px;
}

.da-space > a > img {
  position: fixed;

  display: block;
  width: 250px;
  height: 110px;
  margin-right: 30px;
  margin-top: 20px;
}

.da-space > a > .celadon {
  background-color: #232f3e;
}

.da-space > a > .cocktail {
  top: 250px;
}

.da-space > a > .hackoverflow {
  top: 370px;
}

.da-space > a > .domio {
  top: 480px;
}
