// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Directions */

.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.modal-map {
  position: absolute;
  z-index: 3;

  top: 200px;
  left: 35%;
  margin-left: -220px;
  border-radius: 5px;
}

.map-directions-container > .modal-container > .modal-map > #map-directions {
  float: left;
}

.map-directions-container > .modal-container > .modal-map > #map-panel {
  float: right;

  width: 340px;
}

.hide {
  display: none;
}

.map-directions-container > .modal-container > .modal-map > .close-button {
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}
