// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviewer {
  float: left;
  width: 245px;
}

.reviewer > .reviewer-name {
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: bold;
  color: #3b65a7;
}

.review-body {
  width: 380px;
  float: left;
}

.review-body > #star-rating {
  padding-bottom: 10px;
}

.review-body > .time-ago {
  font-size: 12px;
  line-height: 1.5em;
  color: #999;
}

.reviewer-avatar {
  border-radius: 4px;
  width: 60px;
  height: 60px;
}
