.search-top-shelf {
  border-bottom: 1px solid #ccccc8;
  height: 280px;
}

.search-heading-container {
  margin: 0 auto;
  margin-top: 60px;

  width: 940px;
}

.search-heading-container > .search-form {
  width: 645px;
  float: left;

  margin-left: 10px;
}

.search-heading-container > .search-form > h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2em;
  color: #333;

  margin-bottom: 20px;
}

.search-heading-container > .search-form > p {
  font-size: 21px;
  line-height: 1.28571em;
  color: #333;

  margin-bottom: 20px;
}

.search-heading-container > .search-form > .search > .main-search > input {
  position: relative;

  border-radius: 3px;
  padding-left: 37px;
  padding-right: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid #ccccc8;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  overflow: hidden;
  font-size: 14px;

  width: 660px;
  height: 30px;

  bottom: 3px;
}

.search-heading-container > .search-form > .search > .main-search > .pseudo-input {
  position: relative;

  left: 7px;
  top: 21px;
  z-index: 2;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  cursor: default;
}

.search-heading-container > .search-form > .search > .submit-search {
  position: relative;

  bottom: 33px;
  left: 663px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 6px;
  margin-left: 5px;
  width: 40px;
  height: 30px;
  line-height: 18px;
  vertical-align: middle;
  box-shadow: none;
  border: 1px solid #7b0000;
  background: #a20000;
  background: linear-gradient(#be0100 4%, #a20000 5%, #7c0000 100%);
}

.app-academy-logo {
  float: right;
  bottom: 280px;
  left: 920px;
}

.app-academy-logo > img {
  width: 200px;
  height: 200px;

  margin-right: 10px;
}

.results-view {
  background-color: #fff;
}

.results-view > .results {
  padding-left: 30px;
}

.results-view > .results > h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.28571em;
  color: #c41200;

  padding-top: 20px;
  padding-bottom: 7px;
}

.results-view > .results > .results-list > li {
  border-top: 1px solid #ccccc8;
  width: 635px;

  padding-top: 20px;
  padding-bottom: 20px;
}

.results-view > .results > .results-list > li > .search-item {
  float: left;

  width: 410px;
}

.results-view > .results > .results-list > li > .search-item > a {
  font-size: 16px;
  color: #333;
}

.results-view > .results > .results-list > li > .search-item > .new-review {
  color: #333;
  margin: 9px 0 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  padding: 7px 16px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  background: linear-gradient(#fff, #eee);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.28571em;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 -2px 2px rgba(0,0,0,0.05), inset 0 -1px 1px #fff;
}

.results-view > .results > .results-list > li > .search-item > .new-review:hover {
  background: linear-gradient(#ff2000 2%, #ea050b 10%, #d40d04 100%);
  border-color: #a50508;
  color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.results-view > .results > .results-list > li > .search-address {
  float: left;
  font-size: 14px;
  color: #333;
  line-height: 1.28571em;
}

.results-view > .results > .page-count {
  border-top: 1px solid #ccccc8;
  border-bottom: 1px solid #ccccc8;
  width: 635px;
  padding-top: 15px;
  padding-bottom: 15px;
}
