// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user_page {
  border-top: none;
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  min-height: 720px;
  padding: 30px;
  border: 1px solid #ccccc8;
}

.sign_up_wrapper {
  padding: 0 15px;
  width: 300px;
}

.sign_up_wrapper input[type=text],
.sign_up_wrapper input[type=password] {
  display: block;
  width: 100%;
  margin: 0 0 9px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 2px;
  background: rgba(250,250,249,0.9);
  border: 1px solid #bbb;
  font-size: 14px;
  line-height: 1.28571em;
}

.name > li {
  width: 49%;
  font-size: 0;
  display: inline-block;
  margin-bottom: 0;
}

.name > .first_name {
  float: left;
}

.name > .last_name {
  float: right;
}

.legal {
  text-align: left;
  margin-bottom: 12px;
  color: #555;
  font-size: 12px;
  line-height: 1.5em;
}

.sign_up_wrapper {
  margin-left: 60px;
  display: inline-block;
}

.sign_up_wrapper button {
  display: inline-block;
  vertical-align: middle;
  padding: 7px 16px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-shadow: 0 -1px 0 #760400;
  width: 100%;
  background: #ea050b;
  border: 1px solid #a50508;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.sign_up_wrapper > form {
  margin-top: 30px;
}

.has-account {
  color: #999;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5em;
  margin-top: 12px;
  text-align: right;
}

.has-account > a {
  color: #3b65a7;
}

.sign-up-form-top {
  text-align: center;

  border-bottom: 1px solid #ccccc8;
}

.sign-up-form-top > h1 {
  padding-top: 20px;

  font-size: 22px;
  color: #c41200;
  margin-bottom: 6px;
  line-height: 1.28571em;
  font-weight: bold;
  margin: 0 0 6px;
}

.sign-up-form-top > .rushed-lunch {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 14px;
  color: #333;
  padding-bottom: 12px;
}

.sign-up-form-top > .omniauth {
  display: block;
  padding-right: 28px;
  padding-left: 28px;
  line-height: 24px;

  text-shadow: 0 -1px 0 #364e8f;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(#4a64ab, #3e5697);
  border-color: #3c4d82;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 12px;
}

.sign-up-form-top > .disclaimer {
  color: #555;
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: 25px;
}

.app-academy-logo-sign-up {
  float: right;

  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-right: 220px;
}

.profile-avatar, #preview-post-image {
  width: 215px;
  height: 215px;
}

.profile-avatar {
  border-radius: 4px;
}

.user-show-name {
  font-size: 30px;
  line-height: 1.2em;
  color: #333;
  margin-bottom: 6px;
  font-weight: bold;
  margin: 0 0 6px;
}
