<div class="search-top-shelf">
	<div class="search-heading-container group">
		<div class="search-form">
			<h1>Your next rant awaits</h1>

			<p>
				Review everything from your favorite burger to the heated conversation you
				had with your friends about how many black shirts Jonathan has.
			</p>

			<form class="search">
	      <label class="main-search">
	        <span class="pseudo-input">Find</span>
	        <input
	          type="text"
	          class="query"
	          name="search[input]"
	          placeholder="restaurants near a/A">
	      </label>
	      <button class="submit-search">
	        <img src="/assets/magnifying-glass.png">
	      </button>
	    </form>
		</div>

		<div class="app-academy-logo">
			<img src="/assets/app-academy-logo.png">
		</div>
	</div>

</div>

<div class="results-view hide">
	<section class="results">
		<h2>See the business you'd like to review?</h2>
		<button class="sort-by-rating">Highest Rated</button>
		<button class="sort-by-reviews">Most Reviewed</button>
		<ul class="results-list"></ul>

		<% if (results.total_count > 0) { %>
			<nav class="page-count">
				Displaying page number <%= results.pageNum %> out
				of <%= results.total_count %> results

				<% if (results.pageNum > 1) { %>
					<a class="prev-page" href="javascript:void(0)">Prev</a>
				<% } %>

				<% if (results.pageNum < results.total_count) { %>
					<a class="next-page" href="javascript:void(0)">Next</a>
				<% } %>
			</nav>
		<% } %>
	</section>

	<div id="search-map"></div>
</div>
