<div class="main-header group">
  <div id="header-container">
    <a href="#">
      <img class="help-logo" src="/assets/help-logo.png">
    </a>

    <form class="search">
      <label class="main-search">
        <span class="pseudo-input">Find</span>
        <input
          type="text"
          class="query"
          name="search[input]"
          placeholder="restaurants near a/A">
      </label>
      <button class="submit-search">
        <img src="/assets/magnifying-glass.png">
      </button>
    </form>

    <div class="header-nav">
      <ul class="nav-list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <% if (currentUser.isSignedIn()) { %>
            <a href="#/users/<%= currentUser.id %>">About Me</a>
          <% } else { %>
            <a href="#/session/new">About Me</a>
          <% } %>
        </li>
        <li>
          <a href="#/search">Write a Review</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="user_session">
    <% if (currentUser.isSignedIn()) { %>
      <a class="log-out-button" href="#/session/new">Log Out</a>
    <% } else { %>
      <ul class="user_session_list">
        <li>
          <a class="sign_up_button" href="#/users/new">Sign Up</a>
        </li>
        <li>
          <a class="log_in_button" href="#/session/new">Log In</a>
        </li>
      </ul>
    <% } %>
  </div>
</div>
