<div class="main-header group">
  <div id="search-bar">
    <form class="search">
      <label class="main-search">
        <span class="pseudo-input">Find</span>
        <input
          type="text"
          name="search[input]"
          placeholder="restaurants near a/A">
      </label>
      <button class="submit-search">
        <img src="/assets/magnifying-glass.png">
      </button>
    </form>
  </div>

  <div class="user_session">
    <% if (currentUser.isSignedIn()) { %>
      <a class="sign-out-link" href="#/session/new">Log Out</a>
    <% } else { %>
      <ul class="user_session_list">
        <li>
          <a class="sign_up_button" href="#/users/new">Sign Up</a>
        </li>
        <li>
          <a class="log_in_button" href="#/session/new">Log In</a>
        </li>
      </ul>
    <% } %>
  </div>
</div>
