<h2>Help App Academy</h2>

<div class="recent-reviews-list">
  <h1>Recent Activity</h1>

  <ul class="recent-reviews"></ul>
</div>

<div class="da-space">
  <a href="http://celadon.online">
    <img class="celadon" src="/assets/celadonlogo.png">
  </a>
  <a href="http://www.cocktailist.club">
    <img class="cocktail" src="/assets/cocktaillogo.png">
  </a>
  <a href="http://www.hackoverflow.xyz">
    <img class="hackoverflow" src="/assets/hackoverflow.png">
  </a>
  <a href="http://www.domio.xyz">
    <img class="domio" src="/assets/domio-logo.png">
  </a>
</div>
